{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'core/css/style.css' %}">
{% endblock style %}
{% block content %}
{% if user.groups.all.0.name == 'Gerente' or user.groups.all.0.name == 'Repositor' %}
<section class="p-5 summary">
  <h1 class="pt-3 pb-5 summary__title">Resumo</h1>

  <div class="summary__div">
    <div>
      <div class="row justify-content-around">
        {% if user.groups.all.0.name == 'Gerente' %}
        <div class="col-sm-12 col-lg-5 p-2 m-3 summary__div-table">
          <table class="table summary__table">
            <h2 class="text-center summary__table-title">Produtos mais vendidos</h2>
            <thead class="text-white summary__thead">
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Quantidade vendida</th>
              </tr>
            </thead>

            <tbody class="table-group-divider">
              {% for product in top_selling_products %}
              <tr class="summary__tr">
                <td scope="row">{{ product.product__name }}</td>
                <td>{{ product.sold_amount }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endif %}

        {% if user.groups.all.0.name == 'Gerente' %}
        <div class="col-sm-12 col-lg-5 p-2 m-3 summary__div-table">
          <table class="table summary__table">
            <h2 class="text-center summary__table-title">Clientes que mais compram</h2>
            <thead class="text-white summary__thead">
              <tr>
                <th scope="col">CPF</th>
                <th scope="col">Número de compras</th>
              </tr>
            </thead>

            <tbody class="table-group-divider">
              {% for client in clients_who_buy_the_most %}
              <tr class="summary__tr">
                <td scope="row">{{ client.client__cpf }}</td>
                <td>{{ client.number_of_purchases }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endif %}

        <div class="col-sm-12 col-lg-5 p-2 m-3 summary__div-table">
          <table class="table summary__table">
            <h2 class="text-center summary__table-title">Produtos com vencimento próximo</h2>
            <thead class="text-white summary__thead">
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Data de vencimento</th>
              </tr>
            </thead>

            <tbody class="table-group-divider">
              {% for product in almost_expired_products %}
              <tr class="summary__tr">
                <td scope="row">{{ product.name }}</td>
                <td>{{ product.validity }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="col-sm-12 col-lg-5 p-2 m-3 summary__div-table">
          <table class="table summary__table">
            <h2 class="text-center summary__table-title">Produtos com baixo estoque</h2>
            <thead class="text-white summary__thead">
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Quantidade</th>
              </tr>
            </thead>

            <tbody class="table-group-divider">
              {% for product in products_with_low_stock %}
              <tr class="summary__tr">
                <td scope="row">{{ product.name }}</td>
                <td>{{ product.quantity }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% if user.groups.all.0.name == 'Gerente' or user.groups.all.0.name == 'Vendedor' %}
<section class="p-5 sales-summary">
  <h1 class="pt-3 pb-5 sales-summary__title">Resumo de Vendas</h1>

  <div class="sales-summary__div">
    <div>
      <div class="row justify-content-around">
        <div class="col-sm-12 col-md-5 col-lg-2 p-2 m-3 sales-summary__card">
          <div class="card text-bg-light mb-3">
            <div class="card-header text-white sales-summary__card-header">Hoje</div>
            <div class="card-body">
              <h5 class="card-title sales-summary__card-title">{{ today_sales.id__count }} vendas</h5>
              <p class="card-text sales-summary__card-text">Total: R${{ today_sales.total__sum|default:0|floatformat:2}}</p>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-5 col-lg-2 p-2 m-3 sales-summary__card">
          <div class="card text-bg-light mb-3">
            <div class="card-header text-white sales-summary__card-header">Ontem</div>
            <div class="card-body">
              <h5 class="card-title sales-summary__card-title">{{ yesterday_sales.id__count }} vendas</h5>
              <p class="card-text sales-summary__card-text">Total: R${{yesterday_sales.total__sum|default:0|floatformat:2 }}</p>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-5 col-lg-2 p-2 m-3 sales-summary__card">
          <div class="card text-bg-light mb-3">
            <div class="card-header text-white sales-summary__card-header">Esta Semana</div>
            <div class="card-body">
              <h5 class="card-title sales-summary__card-title">{{ week_sales.id__count }} vendas</h5>
              <p class="card-text sales-summary__card-text">Total: R${{ week_sales.total__sum|default:0|floatformat:2 }}
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-5 col-lg-2 p-2 m-3 sales-summary__card">
          <div class="card text-bg-light mb-3">
            <div class="card-header text-white sales-summary__card-header">Este Mês</div>
            <div class="card-body">
              <h5 class="card-title sales-summary__card-title">{{ month_sales.id__count }} vendas</h5>
              <p class="card-text sales-summary__card-text">Total: R${{ month_sales.total__sum|default:0|floatformat:2}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
{% endblock content %}
