{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'clients/css/style.css' %}">
{% endblock style %}
{% block content %}
<section class="p-5 clients">
  <h1 class="pt-3 pb-5 clients__title">Clientes</h1>

  <div class="clients__div">
    <div class="pb-3 d-flex justify-content-between clients__div-forms">
      <form class="d-flex align-items-center" action="{% url 'clients' %}" method="GET">
        <select name="clients_select" class="form-control clients__select">
          <option value="" selected disabled>Ordenar por</option>
          <option value="first_name">Nome</option>
          <option value="last_name">Sobrenome</option>
        </select>

        <button type="submit" class="btn text-white">
          <img src="{% static 'img/sort.svg' %}" alt="Ícone ordenar" class="icon">
        </button>
      </form>

      <form class="d-flex align-items-center" action="{% url 'clients' %}" method="GET">
        <input type="text" class="form-control clients__input" name="search" placeholder="Buscar...">

        <button type="submit" class="btn text-white">
          <img src="{% static 'img/search.svg' %}" alt="Ícone pesquisa" class="icon">
        </button>
      </form>

      <div>
        <button hx-get="{% url 'add_client' %}" hx-target="#dialog"
          class="btn btn-primary px-5 text-white clients__button" data-bs-toggle="modal">Adicionar</button>
      </div>
    </div>

    <div class="clients__div-table">
      <table class="table clients__table">
        <thead class="text-white clients__thead">
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">CPF</th>
            <th scope="col">E-mail</th>
            <th scope="col">Telefone</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>

        <tbody class="table-group-divider">
          {% for client in object_list %}
          <tr class="clients__tr">
            <td scope="row">{{ client.first_name }}</td>
            <td>{{ client.last_name }}</td>
            <td>{{ client.cpf }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.phone }}</td>
            <td>
              <button hx-get="{% url 'detail_client' client.id %}" hx-target="#dialog" class="btn"
                data-bs-toggle="modal">
                <img src="{% static 'img/detail.svg' %}" alt="Ícone detalhes" class="icon-detail">
              </button>
              <button hx-get="{% url 'edit_client' client.id %}" hx-target="#dialog" class="btn" data-bs-toggle="modal">
                <img src="{% static 'img/edit.svg' %}" alt="Ícone editar" class="icon-edit">
              </button>
              <button hx-get="{% url 'delete_client' client.id %}" hx-target="#dialog" class="btn"
                data-bs-toggle="modal">
                <img src="{% static 'img/delete.svg' %}" alt="Ícone apagar" class="icon-delete">
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% if is_paginated %}
      <nav>
        <ul class="pagination">
          {% if page_obj.has_previous %}
          <li class="page-item d-flex">
            <a class="page-link me-4 text-black" href="?page=1">Primeira</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link text-black" aria-label="Previous"><span
                aria-hidden="true">&laquo;</span></a>
          </li>
          {% endif %}

          {% for page_number in page_obj.paginator.page_range %}
          {% if page_obj.number == page_number %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">{{ page_number }}</a>
          </li>
          {% else %}
          <li class="page-item"><a class="page-link text-black" href="?page={{ page_number }}">{{ page_number }}</a>
          </li>
          {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
          <li class="page-item d-flex">
            <a class="page-link text-black" href="?page={{ page_obj.next_page_number }}" aria-label="Next"><span
                aria-hidden="true">&raquo;</span></a>
            <a class="page-link ms-4 text-black" href="?page={{ page_obj.paginator.num_pages }}">Última</a>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}
    </div>
  </div>
</section>
{% endblock content %}
