{% load bootstrap5 %}

<div class="modal-content px-5">
  <div class="modal-header">
    <h1 class="modal-title">Editar Cliente</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>

  <div class="modal-body">
    <form hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'>

      {% bootstrap_form form %}

      <div class="modal-footer">
        <button hx-post="{{ request.path }}" type="submit" class="btn btn-primary clients__button">Atualizar</button>
      </div>
    </form>
  </div>
</div>
