{% load static %}
{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cantina Escolar</title>
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap"
    rel="stylesheet">
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block style %}
  {% endblock style %}
</head>

<body>
  <div class="app">
    <header class="header">
      <div class="d-flex align-items-center header__left">
        <img src="{% static 'img/hamburger-button.svg' %}" alt="" class="header__ham" id="ham_button">
        <img src="{% static 'img/logo.png' %}" alt="Logo Cantina Escolar" class="header__logo">
      </div>

      <div class="header__right">
        <span class="text-white">Bem-vindo, {{ user.get_full_name }}</span>
        <img src="{{ user.photo.url }}" alt="Foto de perfil" class="header__user">
      </div>
    </header>

    <div class="sidebar-main d-flex">
      <nav class="sidebar" id="sidebar">
        <ul class="sidebar__ul">
          {% if perms.core.view_user %}
          <a href="{% url 'employees' %}" class="sidebar__link">
            <li class="sidebar__li">
              <img src="{% static 'img/employees.svg' %}" alt="Ícone funcinários" class="sidebar__icon">

              <span class="text-white">Funcinários</span>
            </li>
          </a>
          {% endif %}

          <a href="{% url 'register-sale' %}" class="sidebar__link">
            <li class="sidebar__li">
              <img src="{% static 'img/register-sale.svg' %}" alt="Ícone registrar venda" class="sidebar__icon">

              <span class="text-white">Registrar venda</span>
            </li>
          </a>

          <a href="{% url 'products' %}" class="sidebar__link">
            <li class="sidebar__li">
              <img src="{% static 'img/products.svg' %}" alt="Ícone produtos" class="sidebar__icon">

              <span class="text-white">Produtos</span>
            </li>
          </a>

          <a href="{% url 'clients' %}" class="sidebar__link">
            <li class="sidebar__li">
              <img src="{% static 'img/clients.svg' %}" alt="Ícone clientes" class="sidebar__icon">

              <span class="text-white">Clientes</span>
            </li>
          </a>

          <a href="{% url 'sales' %}" class="sidebar__link">
            <li class="sidebar__li">
              <img src="{% static 'img/sales.svg' %}" alt="Ícone vendas" class="sidebar__icon">

              <span class="text-white">Vendas</span>
            </li>
          </a>

          <a href="{% url 'summary' %}" class="sidebar__link">
            <li class="sidebar__li">
              <img src="{% static 'img/summary.svg' %}" alt="Ícone resumo" class="sidebar__icon">

              <span class="text-white">Resumo</span>
            </li>
          </a>

          <a href="{% url 'logout' %}" class="sidebar__link">
            <li class="sidebar__li">
              <img src="{% static 'img/quit.svg' %}" alt="Ícone sair" class="sidebar__icon-red">

              <span class="sidebar__quit">Sair</span>
            </li>
          </a>
        </ul>
      </nav>

      <main class="main">
        {% block content %}
        {% endblock content %}
      </main>
    </div>

    <footer class="text-white footer">
      Copyright © 2022 - 2023 | <a href="https://github.com/leonardolmai" target="_blank"
        class="footer__link">@leonardolmai</a>
    </footer>
  </div>

  {% bootstrap_javascript %}
  <script src="{% static 'js/script.js' %}"></script>
  {% block script %}
  {% endblock script %}
</body>

</html>
