<div class="modal-content px-5">
  <div class="modal-header">
    <h1 class="modal-title">Excluir Funcinário</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>

  <div class="modal-body">
    <form hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'>

      <p>Confime abaixo se deseja excluir {{ object.get_full_name }}</p>

      <div class="modal-footer">
        <button hx-post="{{ request.path }}" type="submit" class="btn btn-primary employees__button">Excluir</button>
      </div>
    </form>
  </div>
</div>
