{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'employees/css/style.css' %}">
{% endblock style %}
{% block content %}
<section class="p-5 employees">
  <h1 class="pt-3 pb-5 employees__title">Funcinários</h1>

  <div class="employees__div">
    <div class="pb-3 d-flex justify-content-between employees__div-forms">
      <form class="d-flex align-items-center" action="{% url 'employees' %}" method="GET">
        <select name="employees_select" class="form-control employees__select">
          <option value="" selected disabled>Ordenar por</option>
          <option value="first_name">Nome</option>
          <option value="last_name">Sobrenome</option>
          <option value="position">Cargo</option>
        </select>

        <button type="submit" class="btn text-white">
          <img src="{% static 'img/sort.svg' %}" alt="Ícone ordenar" class="icon">
        </button>
      </form>

      <form class="d-flex align-items-center" action="{% url 'employees' %}" method="GET">
        <input type="text" class="form-control employees__input" name="search" placeholder="Buscar...">

        <button type="submit" class="btn text-white">
          <img src="{% static 'img/search.svg' %}" alt="Ícone pesquisa" class="icon">
        </button>
      </form>

      <div>
        <button hx-get="{% url 'add_employee' %}" hx-target="#dialog"
          class="btn btn-primary px-5 text-white employees__button" data-bs-toggle="modal">Adicionar</button>
      </div>
    </div>

    <div class="employees__div-table">
      <table class="table employees__table">
        <thead class="text-white employees__thead">
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">CPF</th>
            <th scope="col">E-mail</th>
            <th scope="col">Telefone</th>
            <th scope="col">Cargo</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>

        <tbody class="table-group-divider">
          {% for employee in object_list %}
          <tr class="employees__tr">
            <td scope="row">{{ employee.first_name }}</td>
            <td>{{ employee.last_name }}</td>
            <td>{{ employee.cpf }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.phone }}</td>
            <td>{{ employee.groups.all.0 }}</td>
            <td>
              <button hx-get="{% url 'detail_employee' employee.id %}" hx-target="#dialog" class="btn"
                data-bs-toggle="modal">
                <img src="{% static 'img/detail.svg' %}" alt="Ícone detalhes" class="icon-detail">
              </button>
              <button hx-get="{% url 'edit_employee' employee.id %}" hx-target="#dialog" class="btn"
                data-bs-toggle="modal">
                <img src="{% static 'img/edit.svg' %}" alt="Ícone editar" class="icon-edit">
              </button>
              <a class="btn" data-bs-toggle="modal" href="#delete_employee" role="button">
                <img src="{% static 'img/delete.svg' %}" alt="Ícone apagar" class="icon-delete">
              </a>
            </td>

            <div class="modal fade employees__forms" id="delete_employee" aria-hidden="true" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content px-5">
                  <div class="modal-header">
                    <h1 class="modal-title">Excluir Funcinário</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>

                  <div class="modal-body">
                    <form action="{% url 'delete_employee' 1 %}" method="POST">
                      {% csrf_token %}

                      <p>Confime abaixo se deseja excluir Funcinário 1</p>

                      <div class="modal-footer">
                        <button class="btn btn-primary employees__button">Excluir</button>
                      </div>
                    </form>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if is_paginated %}
      <nav>
        <ul class="pagination">
          {% if page_obj.has_previous %}
          <li class="page-item d-flex">
            <a class="page-link me-4 text-black" href="?page=1">Primeira</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link text-black" aria-label="Previous"><span
                aria-hidden="true">&laquo;</span></a>
          </li>
          {% endif %}

          {% for page_number in page_obj.paginator.page_range %}
          {% if page_obj.number == page_number %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">{{ page_number }}</a>
          </li>
          {% else %}
          <li class="page-item"><a class="page-link text-black" href="?page={{ page_number }}">{{ page_number }}</a>
          </li>
          {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
          <li class="page-item d-flex">
            <a class="page-link text-black" href="?page={{ page_obj.next_page_number }}" aria-label="Next"><span
                aria-hidden="true">&raquo;</span></a>
            <a class="page-link ms-4 text-black" href="?page={{ page_obj.paginator.num_pages }}">Última</a>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}
    </div>
  </div>
</section>
{% endblock content %}
