{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'employees/css/style.css' %}">
{% endblock style %}
{% block content %}
<section class="p-5 employees">
  <h1 class="pt-3 pb-5 employees__title">Funcinários</h1>

  <div class="employees__div">
    <div class="pb-3 d-flex justify-content-between employees__div-forms">
      <form class="d-flex align-items-center" action="" method="GET">
        <select name="sort" class="form-control employees__select">
          <option value="" selected disabled>Ordenar por</option>
          {% if request.GET.sort == 'first_name' %}
          <option value="first_name" selected>Nome</option>
          {% else %}
          <option value="first_name">Nome</option>
          {% endif %}
          {% if request.GET.sort == '-first_name' %}
          <option value="-first_name" selected>Nome decrescente</option>
          {% else %}
          <option value="-first_name">Nome decrescente</option>
          {% endif %}
          {% if request.GET.sort == 'last_name' %}
          <option value="last_name" selected>Sobrenome</option>
          {% else %}
          <option value="last_name">Sobrenome</option>
          {% endif %}
          {% if request.GET.sort == '-last_name' %}
          <option value="-last_name" selected>Sobrenome decrescente</option>
          {% else %}
          <option value="-last_name">Sobrenome decrescente</option>
          {% endif %}
        </select>

        <input type="hidden" name="search" value="{{ request.GET.search }}">

        <button type="submit" class="btn text-white">
          <img src="{% static 'img/sort.svg' %}" alt="Ícone ordenar" class="icon">
        </button>
      </form>

      <form class="d-flex align-items-center" action="" method="GET">
        <input type="text" class="form-control employees__input" value="{{ request.GET.search }}" name="search" autocomplete="off" placeholder="Buscar...">

        <input type="hidden" name="sort" value="{{ request.GET.sort }}">

        <button type="submit" class="btn text-white">
          <img src="{% static 'img/search.svg' %}" alt="Ícone pesquisa" class="icon">
        </button>
      </form>

      <div>
        <button hx-get="{% url 'add_employee' %}" hx-target="#dialog"
          class="btn btn-primary px-5 text-white employees__button" data-bs-toggle="modal">Adicionar</button>
      </div>
    </div>

    <div class="employees__div-table">
      <table class="table employees__table">
        <thead class="text-white employees__thead">
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">CPF</th>
            <th scope="col">E-mail</th>
            <th scope="col">Telefone</th>
            <th scope="col">Cargo</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>

        <tbody class="table-group-divider">
          {% for employee in object_list %}
          <tr class="employees__tr">
            <td scope="row">{{ employee.first_name }}</td>
            <td>{{ employee.last_name }}</td>
            <td>{{ employee.cpf }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.phone }}</td>
            <td>{{ employee.groups.all.0 }}</td>
            <td>
              <button hx-get="{% url 'detail_employee' employee.id %}" hx-target="#dialog" class="btn"
                data-bs-toggle="modal">
                <img src="{% static 'img/detail.svg' %}" alt="Ícone detalhes" class="icon-detail">
              </button>
              <button hx-get="{% url 'edit_employee' employee.id %}" hx-target="#dialog" class="btn"
                data-bs-toggle="modal">
                <img src="{% static 'img/edit.svg' %}" alt="Ícone editar" class="icon-edit">
              </button>
              <button hx-get="{% url 'delete_employee' employee.id %}" hx-target="#dialog" class="btn"
                data-bs-toggle="modal">
                <img src="{% static 'img/delete.svg' %}" alt="Ícone apagar" class="icon-delete">
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if request.GET.sort or request.GET.search %}
        {% if is_paginated %}
        <nav>
          <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item d-flex">
              <a class="page-link me-4 text-black" href="?sort={{ request.GET.sort }}&search={{ request.GET.search }}&page=1">Primeira</a>
              <a href="?sort={{ request.GET.sort }}&search={{ request.GET.search }}&page={{ page_obj.previous_page_number }}" class="page-link text-black" aria-label="Previous"><span
                  aria-hidden="true">&laquo;</span></a>
            </li>
            {% endif %}

            <li class="page-item">
              <a class="page-link text-black">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a>
            </li>

            {% if page_obj.has_next %}
            <li class="page-item d-flex">
              <a class="page-link text-black" href="?sort={{ request.GET.sort }}&search={{ request.GET.search }}&page={{ page_obj.next_page_number }}" aria-label="Next"><span
                  aria-hidden="true">&raquo;</span></a>
              <a class="page-link ms-4 text-black" href="?sort={{ request.GET.sort }}&search={{ request.GET.search }}&page={{ page_obj.paginator.num_pages }}">Última</a>
            </li>
            {% endif %}
          </ul>
        </nav>
        {% endif %}
      {% else %}
        {% if is_paginated %}
        <nav>
          <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item d-flex">
              <a class="page-link me-4 text-black" href="?page=1">Primeira</a>
              <a href="?page={{ page_obj.previous_page_number }}" class="page-link text-black" aria-label="Previous"><span
                  aria-hidden="true">&laquo;</span></a>
            </li>
            {% endif %}

            <li class="page-item">
              <a class="page-link text-black">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a>
            </li>

            {% if page_obj.has_next %}
            <li class="page-item d-flex">
              <a class="page-link text-black" href="?page={{ page_obj.next_page_number }}" aria-label="Next"><span
                  aria-hidden="true">&raquo;</span></a>
              <a class="page-link ms-4 text-black" href="?page={{ page_obj.paginator.num_pages }}">Última</a>
            </li>
            {% endif %}
          </ul>
        </nav>
        {% endif %}
      {% endif %}
    </div>
  </div>
</section>
{% endblock content %}
