{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'products/css/style.css' %}">
{% endblock style %}
{% block content %}
<section class="p-5 products">
  <h1 class="pt-3 pb-5 products__title">Produtos</h1>

  <div class="products__div">
    <div class="pb-3 d-flex justify-content-between products__div-forms">
      <form class="d-flex align-items-center" action="{% url 'products' %}" method="GET">
        <select name="sort-products_select" class="form-control products__select">
          <option value="" selected disabled>Ordenar por</option>
          <option value="name">Nome</option>
          <option value="increasing_price">Preço crescente</option>
          <option value="descending_price">Preço decrescente</option>
          <option value="increasing_quantity">Quantidade crescente</option>
          <option value="descending_quantity">Quantidade decrescente</option>
          <option value="increasing_validity">Validade crescente</option>
          <option value="descending_validity">Validade decrescente</option>
        </select>

        <button type="submit" class="btn text-white">
          <img src="{% static 'img/sort.svg' %}" alt="Ícone ordenar" class="icon">
        </button>
      </form>

      <form class="d-flex align-items-center" action="{% url 'products' %}" method="GET">
        <select name="filter_products_select" class="form-control products__select">
          <option value="" selected disabled>Filtrar por categoria</option>
          {% for c in '00000' %}
          <option value="id">Categoria A</option>
          {% endfor %}
        </select>

        <button type="submit" class="btn text-white">
          <img src="{% static 'img/filter.svg' %}" alt="Ícone filtrar" class="icon">
        </button>
      </form>

      <form class="d-flex align-items-center" action="{% url 'products' %}" method="GET">
        <input type="text" class="form-control products__input" name="search" placeholder="Buscar...">

        <button type="submit" class="btn text-white">
          <img src="{% static 'img/search.svg' %}" alt="Ícone pesquisa" class="icon">
        </button>
      </form>
      
      {% if perms.products.add_product %}
      <div>
        <button hx-get="{% url 'add_product' %}" hx-target="#dialog"
          class="btn btn-primary px-5 text-white products__button" data-bs-toggle="modal">Adicionar</button>
      </div>
      {% endif %}
    </div>

    <div class="products__div-table">
      <table class="table products__table">
        <thead class="text-white products__thead">
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Preço</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Categoria</th>
            <th scope="col">Validade</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>

        <tbody class="table-group-divider">
          {% for product in object_list %}
          <tr class="products__tr">
            <td scope="row">{{ product.name }}</td>
            <td>R${{ product.price|floatformat:2 }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.category|default:'...' }}</td>
            <td>{{ product.validity }}</td>
            <td>
              <button hx-get="{% url 'detail_product' product.id %}" hx-target="#dialog" class="btn"
                data-bs-toggle="modal">
                <img src="{% static 'img/detail.svg' %}" alt="Ícone detalhes" class="icon-detail">
              </button>

              {% if perms.products.change_product %}
              <button hx-get="{% url 'edit_product' product.id %}" hx-target="#dialog" class="btn"
                data-bs-toggle="modal">
                <img src="{% static 'img/edit.svg' %}" alt="Ícone editar" class="icon-edit">
              </button>
              {% endif %}

              {% if perms.products.delete_product %}
              <button hx-get="{% url 'delete_product' product.id %}" hx-target="#dialog" class="btn"
                data-bs-toggle="modal">
                <img src="{% static 'img/delete.svg' %}" alt="Ícone apagar" class="icon-delete">
              </button>
              {% endif %}
            </td>

          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if is_paginated %}
      <nav>
        <ul class="pagination">
          {% if page_obj.has_previous %}
          <li class="page-item d-flex">
            <a class="page-link me-4 text-black" href="?page=1">Primeira</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link text-black" aria-label="Previous"><span
                aria-hidden="true">&laquo;</span></a>
          </li>
          {% endif %}

          {% for page_number in page_obj.paginator.page_range %}
          {% if page_obj.number == page_number %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">{{ page_number }}</a>
          </li>
          {% else %}
          <li class="page-item"><a class="page-link text-black" href="?page={{ page_number }}">{{ page_number }}</a>
          </li>
          {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
          <li class="page-item d-flex">
            <a class="page-link text-black" href="?page={{ page_obj.next_page_number }}" aria-label="Next"><span
                aria-hidden="true">&raquo;</span></a>
            <a class="page-link ms-4 text-black" href="?page={{ page_obj.paginator.num_pages }}">Última</a>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}
    </div>
  </div>
</section>
{% endblock content %}
